/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBMPlexSansKR-Regular', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.font-l {
    font-weight: 200;
}

.font-r {
    font-weight: 400;
}

.font-b {
    font-weight: 600;
}

.header-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
}

.new-text {
    font-size: 2.6rem;
    font-weight: 600;
    text-align: center;
    padding: 40px 0;
    letter-spacing: 5px;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 313px;
    height: 4px;
    background: #003fc5;
    margin: 6px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header-content h2 {
    font-size: 2rem;
}

.ctn {
    padding: 8px 15px;
    background: #003fc5;
    color: whitesmoke;
    border-radius: 20px;
}

/* navbar */
.navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 130px;
    color: whitesmoke;
    background-color: #202020;
    z-index: 99;
    position: fixed;
}

.logo {
    width: 7%;
}

nav {
    transition: .5s;
}

nav.animate {
    padding: 15px 130px;
    color: #333;
    box-shadow: 2px 1px 10px 1px rgba(0,0,0,0.1);
    background: white;
    opacity: 0.9;
}

.navbar-link {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
}

.navbar-link li {
    margin: 0 30px;
    list-style: none;
}

.active {
    color: #003fc5;
    font-weight: bold;
}

.read-more {
    padding: 15px 100px;
    background: #003fc5;
    color: whitesmoke;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

.swiper-wrapper {
    position: relative;
}

.bg-text {
    position: absolute;
    top: 32%;
    left: 15%;
}

.bg-text-02 {
    position: absolute;
    top: 39%;
    left: 15%;
}

.view-btn {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.view-more {
    padding: 15px 50px;
    background: #003fc5;
    color: whitesmoke;
    border-radius: 30px;
    margin: 10px 10px 0 0;
    font-size: 0.8rem;
}

.view-more02 {
    padding: 15px 40px;
    border: 2px solid #003fc5;
    color: #003fc5;
    border-radius: 30px;
    margin: 10px 10px 0 0;
    font-size: 0.8rem;
}

.bg-text h2 {
    font-size: 2.8rem;
    color: #fff;
}

.bg-text h1 {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 300;
}

.bg-sub-text {
    font-size: 2rem;
    color: #373737;
    font-weight: 600;
}

.bg-sub-text-03 {
    font-size: 2rem;
    color: #ffffff;
    font-weight: 600;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    transition-duration: 0ms;
}

.swiper-button-next, .swiper-button-prev {
    background-color: rgb(238, 238, 238);
    padding: 24px;
    color: #003fc5;
    opacity: 0.4;
}

.swiper-button-prev {
    left: 15%;
    top: 64%;
}

.swiper-button-next {
    left: 18%;
    top: 64%;
}

.swiper-button-prev:after {
    content: 'prev';
    font-size: 20px;
}

.swiper-button-next:after {
    content: 'next';
    font-size: 20px;
}

.main .section {
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.intro-product {
    padding: 70px 0;
}
.intro-title {
    text-align: center;
    padding-bottom: 40px;
}

.title-line {
    width: 10%;
    margin: 0 auto;
    height: 3px;
    color: #003fc5;
    text-align: center;
}

.int-01 {
    color: #003fc5;
    font-size: 2.2rem;
}

.int-02 {
    /* transform: translateY(1120px); */
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.8px;
    padding-top: 10px;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product img {
    display: block;
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: 0 auto;
    cursor: ew-resize;
  }

.slide-img {
    position: relative;
    padding-bottom: 50px;
}

.box-txt {
    position: absolute;
    top: 18%;
    left: 68%;
    line-height: 2;
}

.product-name {
    color: #003fc5;
    font-weight: 600;
    font-size: 2.2rem;

}

.box-txt .txt {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.4;
}

.box-txt .sub-txt {
    font-size: 20px;
    line-height: 2;
}

.btns {
    position: absolute;
    bottom: 33%;
    right: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
}

.btns .btn-underline {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 15px;
}

.btns .btn-type2 {
    background-color: #003fc5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

.sec_balance {
    padding: 70px 0 90px;
    background-color: rgb(237, 243, 246);
}

.sec_balance .balance_wrap {
    width: 80%;
    margin: 0 auto;
}

.sec_balance .balance_wrap .balance_area {
    position: relative;
}

.sec_balance .balance_wrap .balance_area .balance_box::after {
    content: "";
    display: block;
    clear: both;
}

.sec_balance .balance_wrap .balance_area .balance_box .square {
    position: relative;
    float: left;
    width: 50%;
    height: 585px;
}

.sec_balance .balance_wrap .balance_area .balance_box .square .square_inner {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    padding: 100px 0;
}

.sec_balance .balance_wrap .balance_area .balance_box .square .square_inner > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    transition: all 0.5s ease-in-out;
}


.sec_balance .balance_wrap .balance_area .balance_box .square .square_inner:hover > img { 
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
}

.sec_balance .balance_wrap .balance_area .balance_box .square.premium {
    margin-left: -1px;
}

.sec_balance .balance_wrap .balance_area .balance_box .square .txt-box {
    position: absolute;
    left: 48px;
    top: 310px;
    color: #fff;
}

.sec_balance .balance_wrap .balance_area .balance_box .square .txt-box .tit {
    margin-bottom: 15px;
    font-size: 32px;
    letter-spacing: -0.03em;
    line-height: 2.6rem;
    font-weight: 400;
}

.sec_balance .balance_wrap .balance_area .balance_box .square .txt-box .more-view {
    position: relative;
    display: block;
    padding: 0 20px;
    width: 220px;
    height: 60px;
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 3.75rem;
    border: 1px solid #fff;
    border-radius: 30px;
}

.sec_balance .balance_wrap .balance_area .balance_box .square .txt-box .more-view:hover {
    color: #003fc5;
    background-color: #fff;
    transition: all .5s ease-in-out;
}

.sales-product {
    width: 100%;
    margin: 0 auto;
    padding: 70px 0px 100px;
    background-color: rgb(237, 243, 246);
}

.product__list {
    height: auto;
    overflow: auto;
    display: flex;
}

.product__list .new-product {
    position: relative;
    width: 25%;
    margin-top: 24px;
    margin-left: 24px;
    padding: 32px 40px 56px;
    line-height: 1.5;
    background-color: #ffffff;
    transition: all .5s;
    cursor: pointer;
}

.product__list .new-product:hover {
    transform:translate(0, -30px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product__list .product__pic__link {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 8px;
    text-align: center;
}

.badge__text {
    position: absolute;
    left: 24px;
    top: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(253, 110, 26);
}

.product__list .product__pic__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity .4s cubic-bezier(.65,0,.35,1),transform .2s cubic-bezier(.33,1,.68,1) .2s;
}

.product__list .product__title {
    display: block;
    margin: 16px 0 6px;
}

.product__list .product__info {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
    margin-bottom: 1.125em;
    font-size: 16px;
    letter-spacing: -.025em;
    color: #666;
}

.product__list .product__price {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0;
    color: #222;
    display: flex;
    align-items: center;
}

.new-p-btn {
    position: absolute;
    bottom: -5px;
    right: 4px;
    text-decoration: none;
    font-size: 0.7rem;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    background-color: #1a53cb;
    border-radius: 20px;
    transition: all .5s;
}

.new-p-btn:hover{
    background-color: #0a2e7c;
}

#m-sec06 {
    position: relative;
    height: 611px;
    overflow: hidden;
}

.inner_box {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    height: 100%;
}

#m-sec06 .about-txt {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    text-align: left;
}

.int-tit {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 5px;
}
.sub_tit, #m-sec06 .about-txt .sub_txt {
    color: #fff;
}

.sub_tit {
    font-size: 34px;
}

.sub_txt {
    margin-top: 10px;
    line-height: 1.7;
}

#m-sec06 .more_btn {
    position: static;
    display: inline-block;
    transform: none;
    width: 188px;
    padding: 12px 0;
    text-align: center;
    margin-top: 30px;
    border-radius: 30px;
}
.more_btn.btn_w {
    color: #003fc5;
    background-color: #fff;
}

.circle_bg {
    width: 1039px;
    height: 1039px;
    border-radius: 50%;
    background-color: #003fc5;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    transform: translateY(-50%) rotate(-66deg);
    left: -100%;
    z-index: 1;
    transition: 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    transition-delay: .3s;
    opacity: 0.8;
}

#m-sec06 .inner_box.on .circle_bg {
    left: -28%;
}

.sec {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.sec_service {
    padding: 100px 0;
}

.sec_service .service_wrap::after {
    content: "";
    display: block;
    clear: both;
}

.sec_service .service_area {
    position: relative;
    float: left;
    width: 570px;
}

.sec_service .tit_wrap {
    font-weight: 400;
    line-height: 1;
    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 2.625rem;
    margin-bottom: 30px;
    font-weight: 600;
    color: #00466e;
}

.sec_service .magazine_wrap .banner {
    display: block;
}

.sec_service .magazine_wrap .banner .inner {
    padding: 220px 50px 0;
    height: 365px;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.sec_service .magazine_wrap .banner .inner > img { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 100%; 
    min-height: 100%;
    transition: all 0.5s ease-in-out; 
    z-index: -1; 
}
.sec_service .magazine_wrap .banner .inner:hover > img {
    transform: scale(1.1);
}
.sec_service .magazine_wrap .banner .ser-txt_box .ser-txt {
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 0em;
    line-height: 1.625rem;
}

.sec_service .magazine_wrap .banner .ser-txt_box .tit {
    font-size: 18px;
    letter-spacing: -0.03em;
    line-height: 1.8rem;
    font-weight: 400;
}

.sec_service .service_area .more {
    position: absolute;
    right: 0;
    top: 10px;
    color: #888;
    font-size: 16px;
    letter-spacing: -0.03em;
    line-height: 1.375rem;
}

.sec_service .service_area .more::after {
    border-top: 1px solid #888;
    border-left: 1px solid #888;
}

.sec_service .more::after {
    transform: translate(0, -50%);
    transform: rotate(135deg);
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 7px;
    height: 7px;
    margin-top: -6px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    right: -16%;
}

.sec_service .news_wrap {
    position: relative;
    margin-left: 50px;
}

.sec_service .tit_wrap {
    font-weight: 400;
    line-height: 1;
    font-size: 30px;
    line-height: 2.625rem;
    margin-bottom: 30px;
    color: #003fc5;
}

.sec_service .news_wrap .news_list {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.sec_service .news_wrap .news_list li {
    list-style: none;
}

.sec_service .news_wrap .news_list li :hover {
    color: #003fc5;
}

.sec_service .news_wrap .news_list li a {
    overflow: hidden;
    display: block;
    padding: 31px 0;
}

.sec_service .news_wrap .news_list li a .tit {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 18px;
    letter-spacing: -0.03em;
    line-height: 1.75rem;
    float: left;
    width: calc(100% - 100px);
}

.sec_service .news_wrap .news_list li a .date {
    font-family: 'Arsenal', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.125rem;
    font-weight: 600;
    float: right;
    margin-left: 10px;
    color: #d4ccc1;
}

.sec_service .news_wrap .news_list li + li a {
    border-top: 1px solid #eee;
}

.socialpanel {
    padding: 25px 0;
    background: #4c5d6c;
    text-align: center;
}

button {
    background: transparent;
    cursor: pointer;
    border: 0;
    margin: 0 15px;
}

.footer {
    width: 100%;
    background-color: #323e49;
    padding: 20px 0;
}

.footer .footer_inner {
    max-width: 1200px;
    margin: 0 auto;
}

.footer address {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.8;
    text-align: center;
}
.footer .footMenu {
    margin-top: 30px;
    text-align: center;
}

.footer .footMenu a {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 100;
    padding: 0 3px 0 7px;
    position: relative;
}
.footer .footMenu a:after {
    content: '';
    width: 1px;
    height: 10px;
    background: rgb(208, 208, 208);
    position: absolute;
    top: 2px;
    left: 0;
}


@media(max-width: 1441px) {
    .bg img {
        width: 1440px;
    }
    .swiper-button-prev {
        left: 15%;
        top: 74%;
    }
    .swiper-button-next {
        left: 19%;
        top: 74%;
    }
    .product img {
        width: 70%;
    }
    .box-txt {
        left: 74%;
    }
    .btns {
        bottom: 30%;
        right: 9%;
    }
    .mySwiper-02 {
        width: 100%;
        margin: 0 auto;
    }
}

@media(max-width: 1025px) {
    .box-txt {
        left: 69%;
    }
    .product img {
        width: 60%;
        float: left;
        margin-left: 65px;
    }
    .box-txt .txt {
        font-weight: bold;
        font-size: 30px;
        line-height: 1.2;
    }
    .btns {
        bottom: 18%;
        right: 7%;
    }
    .sec_balance .balance_wrap .balance_area .balance_box .square .txt-box .tit {
        margin-bottom: 15px;
        font-size: 26px;
        letter-spacing: -0.03em;
        line-height: 2rem;
    }
    .sec_balance .balance_wrap .balance_area .balance_box .square .txt-box {
        left: 34px;
    }
}

@media(max-width: 1350px) {
    .product img {
        width: 65%;
        float: left;
        margin-left: 70px;
    }
    .box-txt {
        left: 69%;
    }
    .btns {
        bottom: 29%;
        right: 13%;
    }
    .box-txt .txt {
    font-size: 32px;
    }
}