@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'noto-sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.font-l {
    font-weight: 200;
}

.font-r {
    font-weight: 400;
}

.font-b {
    font-weight: 600;
}

.header-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
}

.new-text {
    font-size: 2.6rem;
    font-weight: 600;
    text-align: center;
    padding: 40px 0;
    letter-spacing: 5px;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 370px;
    height: 4px;
    background: #003fc5;
    margin: 10px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header-content h2 {
    font-size: 2rem;
}

.ctn {
    padding: 8px 15px;
    background: #003fc5;
    color: whitesmoke;
    border-radius: 20px;
}

/* navbar */
.navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px 130px;
    color: whitesmoke;
    z-index: 99;
}

.fixnavbar {
    position: fixed;
}

.navbar-link {
    display: flex;
    align-items: center;
}

.navbar-link li {
    margin: 0 30px;
    list-style: none;
}

.active {
    color: #003fc5;
    font-weight: bold;
}

.read-more {
    padding: 15px 100px;
    background: #003fc5;
    color: whitesmoke;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

.swiper-wrapper {
    position: relative;
}

.bg-text {
    position: absolute;
    top: 32%;
    left: 15%;
    text-align: center;
}

.view-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.view-more {
    padding: 15px 50px;
    background: #003fc5;
    color: whitesmoke;
    border-radius: 30px;
    margin: 10px 10px 0 0;
    font-size: 0.8rem;
}

.view-more02 {
    padding: 15px 40px;
    border: 2px solid #003fc5;
    color: #003fc5;
    border-radius: 30px;
    margin: 10px 10px 0 0;
    font-size: 0.8rem;
}

.bg-text h2 {
    font-size: 3.5rem;
    color: #fff;
}

.bg-text h1 {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
}

.bg-02-text {
    font-size: 2.4rem;
    color: #373737;
    font-weight: 600;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    transition-duration: 0ms;
}

.swiper-button-next, .swiper-button-prev {
    background-color: rgb(238, 238, 238);
    padding: 24px;
    color: #003fc5;
    opacity: 0.4;
}

.swiper-button-prev {
    left: 16%;
    top: 65%;
}

.swiper-button-next {
    left: 19%;
    top: 65%;
}

.swiper-button-prev:after {
    content: 'prev';
    font-size: 20px;
}

.swiper-button-next:after {
    content: 'next';
    font-size: 20px;
}

.main .section {
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.intro-product {
    padding: 70px 0;
}
.intro-title {
    text-align: center;
    padding-bottom: 40px;
}

.title-line {
    width: 10%;
    margin: 0 auto;
    height: 3px;
    color: #003fc5;
    text-align: center;
}

.int-01 {
    color: #003fc5;
    font-size: 2.2rem;
}

.int-02 {
    /* transform: translateY(1120px); */
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.8px;
    padding-top: 10px;
}


.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product img {
    display: block;
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: 0 auto;
    cursor: pointer;
  }

.slide-img {
    position: relative;
    padding-bottom: 50px;
}

.box-txt {
    position: absolute;
    top: 18%;
    left: 70%;
    line-height: 2;
}

.product-name {
    color: #003fc5;
    font-weight: 600;
    font-size: 2.2rem;

}

.box-txt .txt {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
}

.box-txt .sub-txt {
    font-size: 20px;
    line-height: 1.8;
}

.btns {
    position: absolute;
    bottom: 35%;
    right: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
}

.btns .btn-underline {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 15px;
}

.btns .btn-type2 {
    background-color: #003fc5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

.hr {
    color: rgb(205, 205, 205);
    width: 30%;
    margin: 0 auto;
}
.sec_balance {
    padding: 70px 0;
}

.sec_balance .balance_wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.sec_balance .balance_wrap .balance_area {
    position: relative;
    height: 585px;
}

.main .sec_balance .balance_wrap .balance_area .balance_box .square {
    position: relative;
    float: left;
    width: 50%;
    height: 527px;
}

.sec_balance .balance_wrap .balance_area .balance_box .square .square_inner {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 100px 0;
}

.sec_balance .balance_wrap .balance_area .balance_box .square .square_inner > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    transition: all 0.5s ease-in-out;
}


.sec_balance .balance_wrap .balance_area .balance_box .square.premium {
    margin-left: -1px;
}

#m-sec06 {
    height: 611px;
    overflow: hidden;
}

.inner_box {
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    height: 100%;
}

#m-sec06 .about-txt {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
    text-align: left;
}

.img-aniload {
    transform: translate(0,0);
    opacity: 1;
}

.img-ani {
    transition: all 1s cubic-bezier(0,.72,.44,.99);
}
.int-tit {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}
.sub_tit, #m-sec06 .about-txt .sub_txt {
    color: #fff;
    line-height: 1.5;
}

.sub_tit {
    font-size: 34px;
}

.sub_txt {
    margin-top: 10px;
}

#m-sec06 .more_btn {
    position: static;
    display: inline-block;
    transform: none;
    width: 188px;
    padding: 12px 0;
    text-align: center;
    margin-top: 30px;
    border-radius: 20px;
}
.more_btn.btn_w {
    color: #003fc5;
    background-color: #fff;
}

.circle_bg {
    width: 1039px;
    height: 1039px;
    border-radius: 50%;
    background-color: #003fc5;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    transform: translateY(-50%) rotate(-66deg);
    left: -100%;
    z-index: 1;
    transition: 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    transition-delay: .3s;
    opacity: 0.8;
}

#m-sec06 .inner_box.on .circle_bg {
    left: -28%;
}

.site_menu_wrap {
    padding: 70px 0;
    background: url(../images/bg_balance.jpeg) 0 0 no-repeat;
    background-size: cover;
}

.section_inner {
    width: 1200px;
    margin: 0 auto;
}

.sec_balance .balance_wrap .balance_area .balance_box .square .square_inner:hover > img { 
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
}

.site_menu_list {
    list-style: none;
}

.group_wrap .site_menu_list li a {
    position: relative;
    display: block;
    height: 65px;
    padding: 0 30px;
    font-size: 18px;
    letter-spacing: -0.03em;
    line-height: 4.0625rem;
    color: #000;
    background: #edeff0;
}

.group_wrap .site_menu_list li a:hover {
    color: #fff;
    background: #003fc5;
    transition: all 0.5s;
}


.group_wrap .site_menu_list li + li {
    margin-top: 10px;
}

.group_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group_wrap .left {
    width: 350px;
}

.group_wrap .right {
    width: 715px;
}

.group_wrap .link_banner {
    height: 215px;
    padding: 40px 50px;
    background: url('../images/link_banner_img.jpeg') 0 0 no-repeat;
    color: #fff;
}


.group_wrap .link_banner p {
    margin-bottom: 25px;
    font-size: 24px;
    letter-spacing: -0.03em;
    line-height: 2.25rem;
}

.pana-guide {
    font-weight: 300;
    line-height: 1;
    vertical-align: 1px;
}

.group_wrap .link_banner .link_btn {
    display: block;
    width: 120px;
    padding: 12px 0;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 21px;
}

.group_wrap .link_banner .link_btn:hover {
    background: #fff;
    transition: all 0.5s;
    color: #333;
}
.quick_menu {
    height: 168px;
    background-color: #e5ebee;
}

.quick_menu .inner {
    max-width: 1200px;
    margin: 0 auto;
}

.quick_menu .quick_list > li {
    float: left;
    width: 24%;
    padding: 52px 0;
    list-style: none;
}

.quick_menu .quick_list > li a {
    position: relative;
    display: block;
    padding-left: 70px;
    font-size: 0;
}

.quick_menu .quick_list > li.instagram {
    width: 28%;
}

.quick_menu .quick_list > li a .ico.ico_instagram::before {
    width: 28px;
    height: 28px;
    background: url('../images/quick_ico_instagram.png') 50% 0 no-repeat;
    background-size: 28px 28px;
}

.quick_menu .quick_list > li a .ico.ico_youtube::before {
    width: 34px;
    height: 24px;
    background: url('../images/quick_ico_youtube.png') 50% 0 no-repeat;
    background-size: 34px 24px;
}

.quick_menu .quick_list > li a .ico.ico_kakao::before {
    width: 28px;
    height: 29px;
    background: url('../images/quick_ico_kakao.png') 50% 0 no-repeat;
    background-size: 28px 29px;
}

.quick_menu .quick_list > li a .ico::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.quick_menu .quick_list > li a .ico {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}

.quick_menu .quick_list > li a .txt {
    color: #7f9dad;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.03em;
    line-height: 2.625rem;
    vertical-align: middle;
    margin-left: 30px;
}

.footer {
    width: 100%;
    background-color: #323e49;
    padding: 20px 0;
}

.footer .footer_inner {
    max-width: 1200px;
    margin: 0 auto;
}

.footer address {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.8;
    text-align: center;
}
.footer .footMenu {
    margin-top: 30px;
    text-align: center;
}

.footer .footMenu a {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 100;
    padding: 0 3px 0 7px;
    position: relative;
}
.footer .footMenu a:after {
    content: '';
    width: 1px;
    height: 10px;
    background: rgb(208, 208, 208);
    position: absolute;
    top: 2px;
    left: 0;
}


@media(max-width: 1441px) {
    .bg img {
        width: 1440px;
    }
    .swiper-button-prev {
        left: 17%;
        top: 74%;
    }
    .swiper-button-next {
        left: 21%;
        top: 74%;
    }
    .product img {
        width: 70%;
    }
    .box-txt {
        left: 74%;
    }
    .btns {
        bottom: 32%;
        right: 9%;
    }
    .mySwiper-02 {
        width: 100%;
        margin: 0 auto;
    }
}

